<!doctype html>
<html>
<head>
<script src="/Public/home/js/jquery.js"></script>
<link href="/Public/home/css/css.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no" />
<meta charset="utf-8">
<title>无标题文档</title>
<style type="text/css">
    .news{ width:92%; height:105px; background:#fff; position:relative; padding-left:4%; padding-right:4%;}
    .news h3{ font-size:16px; color:#191919;padding-top:10px; padding-bottom:10px;}
    .news h3 span{ color:rgb(200,200,200); float:right; }
    .news p{ color:rgb(200,200,200);}
</style>
</head>

<body style="background-color: #f9f9f9;">
<!--header顶部标题-->
<div class="header">需求列表
    <div class="header_left" onclick="window.history.go(-1)"><img src="/Public/home/images/return.png"></div>
</div>
<?php foreach($need as $value) { ?>
<div class="news">
    <h3><a href="{:U('home/need/needInfo',array('id'=>$value['id']))}"><?php echo $value['title']?></a><span><?php echo $value['crate_time']?></span></h3>
    <p><?php echo $value['description']?></p>
    <div class="border_bottom"></div>
</div>
<?php } ?>

<script>
$('.confirm').click(function(){
    $(this).closest('form').submit(); //jquery 提价表单
}); 
</script>
</body>
</html>