<html>
<head></head>
<body>
<form method="post" action="{:U('home/user/saveUser')}">
    邮件: <input type="text" name="email" value="<?php echo $result['email']?>"><br>
    密码: <input type="password" name="pwd"><br>
    昵称: <input type="text" name="nickname" value="<?php echo $result['nickname']?>"><br>
    电话: <input type="text" name="phone" value="<?php echo $result['phone']?>"><br>
    类型：
    <select name="type">
    <?php foreach($type as $key=>$value) { ?>

        <option value ="{$key}">{$value}</option>  
                    
    <?php } ?> 
    </select><br>
    状态: 
    <select name="status">
    <?php foreach($status as $key=>$value) { ?>

        <option value ="{$key}"><?php echo $value?></option>                   
    <?php } ?> 
    </select><br>
    <input type="hidden" name="id" value="{$result.id}">
    <input type="submit">
</form>
</body>
</html>