<!--底部导航-->
<div class="nav_box">
	<div class="border_top"></div>
	<div class="nav_index chenge" onclick="document.location='index.html';">
    	<img src="/Public/home/images/index_gray.png".png">
        <h1 style="">首页</h1>
    </div>
    <div class="nav_order chenge" onclick="document.location='myorder.html';" >
    	<img src="/Public/home/images/order_gray.png">
        <h1>订单</h1>
    </div>
    <div class="nav_my chenge" onclick="document.location='index_center.html';" >
    	<img src="/Public/home/images/my_blue.png">
        <h1 style=" color:#01AFF0">我的</h1>
    </div>
</div>