<!doctype html>
<html>
<head>
<script src="/Public/home/js/jquery.js"></script>
<link href="/Public/home/css/css.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no" />
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body style="background-color: #f9f9f9;">
<!--header顶部标题-->
<div class="header">个人信息修改
    <div class="header_left" onclick="window.history.go(-1)"><img src="/Public/home/images/return.png"></div>
</div>
<form action="/index.php/home/user/saveStudentInfo" method="post">
<!--column详细地址-->
<div class="column_box">
    <div class="column_img"><img src="/Public/home/images/adrress_2.png"></div>
    <input class="input-text" placeholder="上传照片" type="text" name="student_card_image" value="<?php echo $user_profile['student_card_image']?>">
    <div class="border_bottom"></div>
</div>
<!--acreage面积-->

<!--column联系人-->
<div class="column_box">
    <div class="column_img"><img src="/Public/home/images/people.png"></div>
	<select name="school">
    <?php foreach($school as $key=>$value) { ?>

        <option value ="{$value['id']}">{$value['name']}</option>  
                    
    <?php } ?> 
    </select><br>
    <div class="border_bottom"></div>
</div>
<!--column电话-->
<div class="column_box">
    <div class="column_img"><img src="/Public/home/images/people.png"></div>
    <input class="input-text" placeholder="系别" type="text" name="dept" value="<?php echo $user_profile['dept']?>">
    <div class="border_bottom"></div>
</div>
<!--column专业技能-->
<div class="column_box">
    <div class="column_img"><img src="/Public/home/images/phone.png"></div>
    <input class="input-text" placeholder="专业技能" type="text" name="strength" value="<?php echo $user_profile['strength']?>">
    <div class="border_bottom"></div>
</div>
<!--column特殊要求-->
<div class="column_box">
    <div class="column_img"><img src="/Public/home/images/phone.png"></div>
    <input class="input-text" placeholder="特殊要求" type="text" name="remark" value="<?php echo $user_profile['remark']?>">
    <div class="border_bottom"></div>
</div>
<!--confirm确认添加-->
<div class="confirm">确认添加</div>
</form>
<script>
$('.confirm').click(function(){
    $(this).closest('form').submit(); //jquery 提价表单
}); 
</script>
</body>
</html>