<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">  
        <style>
            td {padding:10px}
            .te {color:red}
        </style>

    </head>
    <body>
        <table border="1px" cellpadding="0" cellspacing="0">
            <tr>
                <td class="te">id</td>
                <td>标题</td>
                <td>简介</td>
                <td class="te">操作</td>
            </tr>
            <?php foreach($needdetail as $value) { ?>
            <tr>
                <td>{$value['need']['id']}</td>
                <td>{$value['need']['title']}</td>
                <td>{$value['need']['description']}</td>        
            <?php if($value['need']['user_confirm']==1){ ?>
                <td>
                    <a class="btn btn-primary agree" href="javascript:;" rel="{$value['need']['id']}">同意</a>
                    <a class="btn btn-primary finish" href="javascript:;" rel="{$value['need']['id']}">完成</a>
                </td>
            <?php }else{?>
                    <td>未通过
                    <a class="btn btn-primary finish" href="javascript:;" rel="{$value['need']['id']}">完成</a>
                    </td>
            <?php } ?>
            <?php } ?>
        </table>
    <script type="text/javascript" src="/Public/home/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.agree').click(function(){
                var need_id = $(this).attr('rel');
                var data = {need_id:need_id};
                $.ajax({
                    url: '{:U("home/user/handleJoinin")}',
                    data:data,
                    type:'post',
                    dataType: "json",
                    success:function(data){
                        alert(data.msg);
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $('.finish').click(function(){
                var need_id = $(this).attr('rel');
                var data = {need_id:need_id};
                $.ajax({
                    url: '{:U("home/user/teacherFinish")}',
                    data:data,
                    type:'post',
                    dataType: "json",
                    success:function(data){
                        alert(data.msg);
                    }
                });
            });
        });
    </script>
    </body>
</html>